# Install with:
#   sudo install -m 600 ephemeral-github-actions-runner.env /etc/
RUNNER_SCOPE=repo
RUNNER_NAME=runner-{{ item }}
REPO_URL=https://github.com/{{ github_account }}/{{ item }}
# Alternate for org scope:
#RUNNER_SCOPE=org
#ORG_NAME=your-org
# LABELS=
ACCESS_TOKEN={{ access_token }}
RUNNER_WORKDIR=/mnt/env/{{item}}/work
DISABLE_AUTO_UPDATE=1
EPHEMERAL=1